*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: blueviolet;
    display: flex;
    justify-content: center;
}
.main-container{
   width: 55vw;
   height: 55vh;
   margin-top: 10rem;
   /* border: 2px solid red; */
   border-radius: 2rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center; 
   padding: 1rem 1rem;
   background: white;
}
.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid yellow; */
    width: 50vw;
    height: 10vh;
}
.question-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    /* border: 2px solid blue; */
    width: 50vw;
    height: 6vh;
}
.main-container::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background: url(/images/pexels_back.jpg);
    background-size: cover;
    /* background-repeat: no-repeat;  */
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    z-index: -1;
}
#faq{
    color: black;
    /* border: 2px solid green; */
    margin-bottom: 2rem;
}
.ques-text{
    color: black;
}
.plus-icon{
    color: black;
}
.horizontal-line{
    width: 50vw;
    color: black;
}